Repository vjpandian/dynamic-config-example: changes, and which CircleCI parameters are due for each by the changed paths.
All: client, server

.circleci/config.yml:

version: '2.1'
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            client/.* client true
            server/.* server true

Update config.yml
  .circleci/config.yml
Due: none

Create index.html
  client/index.html
Due: client

Create hello.go
  server/hello.go
Due: server

Create continue-config.yml
  .circleci/continue-config.yml
Due: none

Update hello.go
  server/hello.go
Due: server

Update index.html
  client/index.html
Due: client
